body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0a3fd1;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #a450db;
    color: white;
    padding: 5px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

button {
    background-color: #4e4caf;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 5px 0;
}

form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
